<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zfurrgf@juvgrsnyyf.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>&lt;a href="http://daringfireball.net/projects/markdown/"&gt;Markdown&lt;/a&gt; allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML. This bundle provides preview functionality, syntax highlighting, and several useful commands.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>B52DEA16-8480-11D9-BE59-000D93B3A10E</string>
			<string>02458127-5199-4566-B246-BD4888543D5B</string>
			<string>966B0E57-799A-4B91-84B4-75695A78F7B8</string>
			<string>FE31CF79-5F04-4FB6-B5CE-70BC781FF8B5</string>
			<string>------------------------------------</string>
			<string>914B78B7-3C9E-4630-8BFC-665A358FB49B</string>
			<string>A2A156BD-7EC9-4CBD-AC89-127972AE6794</string>
			<string>------------------------------------</string>
			<string>A6E74A5E-FFE9-43FA-8936-970F3CE47DCB</string>
			<string>350477DF-B66B-49E8-8A31-CF26C2AD745D</string>
			<string>1D28781D-7E85-4577-A48F-AB082C4A34B1</string>
			<string>8532EB39-4E8D-432D-A699-B56AE66C7390</string>			
		</array>
		<key>submenus</key>
		<dict>
			<key>A2A156BD-7EC9-4CBD-AC89-127972AE6794</key>
			<dict>
				<key>items</key>
				<array>
					<string>4405912F-4AD5-40F8-93B3-A63394036ACA</string>
					<string>ECF95C69-08CD-450F-80A8-344ABAA0355D</string>
					<string>864ED863-A6EA-470B-82E9-53C365B3D293</string>
					<string>DED2B784-6795-499A-843D-33D4AA628080</string>
					<string>CEB068AC-B01B-48CD-B48B-78CA470E0752</string>
					<string>1E9F7153-B12F-4E45-BEE7-EA221FFC4AE4</string>
				</array>
				<key>name</key>
				<string>Insert Tag</string>
			</dict>

			<key>8532EB39-4E8D-432D-A699-B56AE66C7390</key>
			<dict>
				<key>name</key>
				<string>Links</string>
				<key>items</key>
				<array>
					<string>C70F0881-D108-47B1-A06F-09C74954E5C2</string>
					<string>A62D9EFB-5591-4760-B862-A04607ABFBA9</string>
					<string>EAB95F98-E67E-459D-9D71-D11AD243699B</string>
					<string>B2345092-190C-4658-98EB-68202BF38C64</string>
					<string>A9482998-0340-44AA-B87D-86CB462F952C</string>
				</array>
			</dict>
			
			<key>1D28781D-7E85-4577-A48F-AB082C4A34B1</key>
			<dict>
				<key>items</key>
				<array>
					<string>81EE56B3-6E80-457F-A3BB-5274ECDD9E37</string>
					<string>F26F1838-E653-4F41-8793-F44400669C21</string>
					<string>2DA37A29-78E6-4A5D-AB91-B1283C084D59</string>
				</array>
				<key>name</key>
				<string>Tables</string>
			</dict>

			<key>350477DF-B66B-49E8-8A31-CF26C2AD745D</key>
			<dict>
				<key>items</key>
				<array>
					<string>622F0B69-EB98-4EB9-8DC8-2AC56FF2501E</string>
					<string>000B399B-FB71-49EF-B799-A1200A3865AB</string>
					<string>78B3AAFF-DA09-437B-A9CA-FAC94C2673B9</string>
					<string>------------------------------------</string>
					<string>2E75B4D8-E6E8-4E3C-969D-FFC650092A39</string>
					<string>ADEF8E57-BF21-487A-9115-E1D1146142CD</string>
					<string>------------------------------------</string>
					<string>5EFA9FF4-2246-4AF4-ABD6-2B7ADB4E9B80</string>
					<string>39A74FF2-46EF-4178-9E3A-7D4DB3968E05</string>
				</array>
				<key>name</key>
				<string>Lists</string>
			</dict>
			<key>914B78B7-3C9E-4630-8BFC-665A358FB49B</key>
			<dict>
				<key>items</key>
				<array>
					<string>31614C02-1FED-4644-9518-2C2DEF0D7A2C</string>
					<string>F56525A1-C879-4A7C-9584-4DB28AFC58C2</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
			<key>A6E74A5E-FFE9-43FA-8936-970F3CE47DCB</key>
			<dict>
				<key>items</key>
				<array>
					<string>F3A754C3-CE6B-11D9-9C17-000A95C0F626</string>
					<string>724FCFF6-CE6B-11D9-9C17-000A95C0F626</string>
					<string>------------------------------------</string>
					<string>5BB3CEFD-D327-4621-B221-54F674560D5E</string>
					<string>D2883438-1037-4792-93CB-CCBABECB45D8</string>
					<string>C0082FD8-DF1C-49A1-A9AB-076DF8981490</string>
					<string>9EE55686-A342-4830-9E32-9555EA844EDC</string>
				</array>
				<key>name</key>
				<string>Headings</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Markdown</string>
	<key>uuid</key>
	<string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
</dict>
</plist>
